
.App-cart {
  position: relative;
  top: -9vh;
  left: 7vw;
  display: inline-block;
  font-weight: bolder;
  padding: 5vh 3.5vw 0 4vw;
}

.App-link {
  color: #61dafb;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
}
