
.App-login {
  display: inline-block;
  font-weight: bolder;
  text-align: right;
}

@media screen and (min-width: 1075px) {
  .LoginLink {
    position: relative;
    top: -9vh;
    left: 0vw;
    padding: 5vh 0;
    min-width: 10vw;
  }

  .LoginProviders {
    position: relative;
    top: -9vh;
    left: 5vw;
  }

  .GoogleLogin {
    position: relative;
    display: block;
    max-height: 2em;
    left: .4vw;
  }
}
@media screen and (max-width: 1074px) {
  .LoginLink {
    position: relative;
    top: -9vh;
    right: 10vw;
    padding: 5vh 0 0 5vw;
    min-width: 10vw;
  }

  .LoginProviders {
    position: relative;
    top: -9vh;
    right: 15vw;
  }

  .GoogleLogin {
    position: relative;
    display: block;
    max-height: 2em;
    left: 1vw;
  }
}


.FacebookLoginLogo {
  display: inline-block;
  max-height: 1.5em;
  padding-right: .5vw;
}

.FacebookLoginText {
  display: inline-block;
  font-size: xx-small;
  font-weight: bold;
  vertical-align: 60%;
}

/* after login */
.Greeting {
  position: absolute;
  top: 2.5vh;
  left: 72vw;
  padding: 0vh 3.5vw 0vh 0vw;
  min-width: 18vw;
  min-height: 4vh;
}

.LogoutLink {
  color: #ecce88;
  font-weight: bolder;
}
