
.App-login {
  display: inline-block;
  font-weight: bolder;
  text-align: right;
}

.LoginLink {
  position: relative;
  top: -9vh;
  left: 0vw;
  padding: 5.33vh 0 0 2vw;
  min-width: 10vw;
  min-height: 4vh;
}

.LoginProviders {
  position: relative;
  top: -9vh;
  left: 5vw;
}

.GoogleLogin {
  position: relative;
  display: block;
  max-height: 2em;
  left: .2vw;
}

.FacebookLoginLogo {
  display: inline-block;
  max-height: 1.5em;
  padding-right: .5vw;
}

.FacebookLoginText {
  display: inline-block;
  font-size: xx-small;
  font-weight: bold;
  vertical-align: 60%;
}

/* after login */
.Greeting {
  position: absolute;
  top: 2.5vh;
  left: 72vw;
  padding: 0vh 3.5vw 0vh 0vw;
  min-width: 18vw;
  min-height: 4vh;
}

.LogoutLink {
  color: #ecce88;
  font-weight: bolder;
}
