

.Store {
  display: inline-block;
  padding: 0vh 0vw 0vh 0vw;
  background-color: #000000;
  min-height: 54vh;
}

.Tab-list {
  display: block;
  font-weight: bolder;
  padding: 0vh 0vw 6vh 4.25vw;
}

div[class*="Tab-item-"] {
  display: inline-block;
  padding: 0vh 3.25vw;
}

div[class*="Item-container-"] {

}

img[class*="Item-image-"] {
  height: 14vh;
  margin-bottom: 1vh;
}

p[class*="Item-description-"] {
  font-size: .9em;
}

div[class*="Store-item-"] {
  display: inline-block;
  flex-direction: row;
  margin: 0vh 5vh 0vh 5vh;
  text-align: center;
}

p[class*="Deals-banner-"] {
  color: #00ce00;
}

p[class*="Clearance-banner-"] {
  color: #ce0000;
  font-size: .75em;
}
