
@media screen and (min-width: 1075px) {
  .Store {
    position: relative;
    top: -32vh;
    left: 18vw;
    background-color: #000000;
    width: 75%;
  }

  div[class*="Item-container-"] {
    display: inline-block;
    flex-direction: row;
    padding: 0vh 4vw 4vh;
    width: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 1074px) {
  .Store {
    background-color: #000000;
    padding: 0 12%;
  }

  div[class*="Item-container-"] {
    display: inline-block;
    flex-direction: row;
    padding: 0vh 10vw 4vh;
    width: 100px;
    text-align: center;
  }
}


img[class*="Item-image-"] {
  display: block;
  height: 150px;
  width: 100px;
  margin: 0 auto 0;
}

div[class*="Item-description-"] {
  display: block;
  height: 8.33vh;
  width: 100px;
  white-space: wrap;
  text-overflow: clip;
  overflow: hidden;
  margin: .5vh 0;
}

p[class*="Item-description-text-"] {
  font-size: .8em;
  padding: .1vh 0;
}

p[class*="Deals-banner-"] {
  color: #00ce00;
  font-size: .8em;
  font-weight: bolder;
  padding: .1vh 0;
}

p[class*="Clearance-banner-"] {
  color: #ce0000;
  font-size: .75em;
  padding: .1vh 0;
}
